.react-paginate-index{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pagination{
        display: flex;
        li{
            padding: 5px 10px 5px 10px;
            border: 1px solid black;
            list-style: none;
            cursor: pointer;
            &:hover{
                background-color: #f6c453;
            }
        }
    }
    .pagination__link{
        padding: 5px 10px 5px 10px;
    }
    .pagination__link--active{
        background-color: #183a1d;
        color: white;
    }
} 