.orderitems-list-container{
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    table, th, td {
        border: 1px solid;
        overflow: hidden;
      }
      th, td {
          padding: 15px 10px;
      }
    table{
        width: 100%;
        border: 1px solid black;
        tr{
            background-color: #f0a04b;
        }
    }
}